flows.json
[{"id":"c4567db6.db7d4","type":"tab","label":"smart agriculture","disabled":false,"info":""},{"id":"66ddfdb0.0f3d64","type":"ibmiot in","z":"c4567db6.db7d4","authentication":"apiKey","apiKey":"7bfcc555.c73c3c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":40,"wires":[["e42a6046.120a3","84a9dbd5.a93708","5a15c9f0.a94728","d4149499.39c7f8"]]},{"id":"e42a6046.120a3","type":"debug","z":"c4567db6.db7d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":20,"wires":[]},{"id":"84a9dbd5.a93708","type":"function","z":"c4567db6.db7d4","name":"temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":20,"wires":[["e42a6046.120a3","e1b18055.c562c"]]},{"id":"5a15c9f0.a94728","type":"function","z":"c4567db6.db7d4","name":"humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":60,"wires":[["e42a6046.120a3","6c4cd3f7.6ddf6c"]]},{"id":"d4149499.39c7f8","type":"function","z":"c4567db6.db7d4","name":"Object temperature","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":100,"wires":[["e42a6046.120a3","c46331b6.5de1d"]]},{"id":"e1b18055.c562c","type":"ui_gauge","z":"c4567db6.db7d4","name":"","group":"12f17b2d.a342d5","order":0,"width":0,"height":0,"gtype":"wave","title":"Atmospheric temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":60,"wires":[]},{"id":"c46331b6.5de1d","type":"ui_gauge","z":"c4567db6.db7d4","name":"Soil temperature","group":"45955a44.769f24","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":140,"wires":[]},{"id":"6c4cd3f7.6ddf6c","type":"ui_gauge","z":"c4567db6.db7d4","name":"Soil Humidity","group":"652d9a3b.a1a4a4","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":100,"wires":[]},{"id":"8df8aea6.9da83","type":"ibmiot out","z":"c4567db6.db7d4","authentication":"apiKey","apiKey":"7bfcc555.c73c3c","outputType":"cmd","deviceId":"IoTdevice2","deviceType":"IoTdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":340,"y":160,"wires":[]},{"id":"404dad73.c4a574","type":"ui_button","z":"c4567db6.db7d4","name":"","group":"e0da4cea.51c92","order":1,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":80,"y":160,"wires":[["8df8aea6.9da83","17446cef.9e6ed3","dba3f2d0.9b0e5"]]},{"id":"774ad06c.4fc8c","type":"ui_button","z":"c4567db6.db7d4","name":"","group":"e0da4cea.51c92","order":2,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"Red","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":90,"y":200,"wires":[["8df8aea6.9da83","17446cef.9e6ed3","dba3f2d0.9b0e5"]]},{"id":"17446cef.9e6ed3","type":"debug","z":"c4567db6.db7d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"dba3f2d0.9b0e5","type":"ui_text","z":"c4567db6.db7d4","group":"e0da4cea.51c92","order":3,"width":0,"height":0,"name":"","label":"Motor status","format":"{{msg.payload.command}}","layout":"row-center","x":590,"y":220,"wires":[]},{"id":"cd183f68.44b41","type":"inject","z":"c4567db6.db7d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":280,"wires":[["39c52c44.071174"]]},{"id":"39c52c44.071174","type":"http request","z":"c4567db6.db7d4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=State of Kerala, IN&appid=2e9e5c52be0c752c461d9399f51d0fd0 ","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":240,"wires":[["2eeb87f2.e18ac8","6b66b1d5.0cb34","89ee0b99.3c50b8","80d0eeca.4195","ec218b0.bf2bf78","dfbcc097.5284b"]]},{"id":"2eeb87f2.e18ac8","type":"function","z":"c4567db6.db7d4","name":"temp","func":"msg.payload=msg.payload.main.temp;\nmsg.payload=msg.payload - 273;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":300,"wires":[["5d6940d4.357c4","7712ba4e.13bad4"]]},{"id":"6b66b1d5.0cb34","type":"function","z":"c4567db6.db7d4","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[["766fc458.364ddc"]]},{"id":"89ee0b99.3c50b8","type":"function","z":"c4567db6.db7d4","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":380,"wires":[["1641973b.b4ce49"]]},{"id":"80d0eeca.4195","type":"debug","z":"c4567db6.db7d4","name":"pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.pressure","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":340,"wires":[]},{"id":"ec218b0.bf2bf78","type":"debug","z":"c4567db6.db7d4","name":" Atmosphere humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":300,"wires":[]},{"id":"5d6940d4.357c4","type":"debug","z":"c4567db6.db7d4","name":"Regional Atmosphere temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":260,"wires":[]},{"id":"7712ba4e.13bad4","type":"ui_gauge","z":"c4567db6.db7d4","name":"Regional Temperature","group":"5a3f7c8.525ff84","order":1,"width":0,"height":0,"gtype":"gage","title":"Regional Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":380,"wires":[]},{"id":"1641973b.b4ce49","type":"ui_gauge","z":"c4567db6.db7d4","name":"Atmospheric pressure","group":"4b65f231.06a83c","order":3,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"mb","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":460,"wires":[]},{"id":"766fc458.364ddc","type":"ui_gauge","z":"c4567db6.db7d4","name":"Atmospheric humidity","group":"7c8b11e1.ad247","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":420,"wires":[]},{"id":"f3fee0ad.24c7c","type":"ui_text","z":"c4567db6.db7d4","group":"b9bd5d90.443ae","order":0,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-left","x":340,"y":420,"wires":[]},{"id":"dfbcc097.5284b","type":"function","z":"c4567db6.db7d4","name":"","func":"msg.payload = msg.payload.weather[0].main\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["ff09b81f.879e68","f3fee0ad.24c7c"]]},{"id":"ff09b81f.879e68","type":"debug","z":"c4567db6.db7d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":420,"wires":[]},{"id":"7bfcc555.c73c3c","type":"ibmiot","z":"","name":"project1","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"12f17b2d.a342d5","type":"ui_group","z":"","name":"Atmospheric Temperature","tab":"d74f66dd.6f4208","order":1,"disp":true,"width":"6","collapse":false},{"id":"45955a44.769f24","type":"ui_group","z":"","name":"Object temperature","tab":"d74f66dd.6f4208","order":3,"disp":true,"width":"6","collapse":false},{"id":"652d9a3b.a1a4a4","type":"ui_group","z":"","name":"Soil Humidity","tab":"d74f66dd.6f4208","order":2,"disp":true,"width":"6","collapse":false},{"id":"e0da4cea.51c92","type":"ui_group","z":"","name":"Control panel","tab":"f174482.393dfb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a3f7c8.525ff84","type":"ui_group","z":"","name":"Regional Temperature","tab":"d74f66dd.6f4208","order":4,"disp":true,"width":"6","collapse":false},{"id":"4b65f231.06a83c","type":"ui_group","z":"","name":"Pressure","tab":"d74f66dd.6f4208","order":7,"disp":true,"width":"6","collapse":false},{"id":"7c8b11e1.ad247","type":"ui_group","z":"","name":"Atmospheric humidity","tab":"d74f66dd.6f4208","order":6,"disp":true,"width":"6","collapse":false},{"id":"b9bd5d90.443ae","type":"ui_group","z":"","name":"Weather conditions","tab":"d74f66dd.6f4208","order":5,"disp":true,"width":"6","collapse":false},{"id":"d74f66dd.6f4208","type":"ui_tab","z":"","name":"field conditions","icon":"dashboard","disabled":false,"hidden":false},{"id":"f174482.393dfb8","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","disabled":false,"hidden":false}]